body {
  display: flex;
  width: 80%;
  margin: auto;
}
p {
  color: white;
}
.container {
  display: block;
  margin: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.input_container {
  background-color: rgb(46, 97, 97);
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: left;
  position: sticky;
}
.input_container_box {
  padding: 0px;
}
#task_input {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  outline: none;
}
.adding_task_menu {
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  outline: none;
}
.input_container > button {
  /* padding: 10px; */
  /* margin: 10px; */
  border-radius: 5px;
  color: white;
  font: 13px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.input_container > button > img {
  width: 45px;
  height: 40px;
}
.todo_container {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin: 0%;
  width: 100%;
  background-color: rgb(12, 112, 112);
  font-size: 20px;
  color: white;
  height: 650px;
  overflow-y: scroll;
}
.todo_container > h4 {
  text-align: left;
  margin-left: 30px;
}
.todo_box {
  display: flex;
  width: 90%;
  padding: 10px 10px;
  background-color: #464646;
  margin: 5px;
}
.todo_box_text_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 0px 10px;
  align-items: left;
  justify-content: left;
  /* border-bottom: solid white 1px; */
}
.todo_box_text {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.todo_text_box_btn {
  width: 100%;
  display: flex;
  padding: 2px;
  /* border: solid 1px white; */
}

.todo_text {
  /* background-color: rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
  margin: 10px 0px;
  padding: 5px 25px;
  border-radius: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.todo_btn_del_edit {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
}

.todo_box_tags {
  margin: 0px 35px;
}
.todo_box_tags > span {
  margin: 0px 5px;
  font-size: 10px;
  color: black;
  padding: 5px;
  border-radius: 3px;
  /* background-color: rgb(206, 36, 36); */
  /* background-color: rgb(216, 203, 87); */
  /* background-color: rgb(204, 108, 233); */
}
.todo_box_button_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}
.todo_box_button_div > button {
  background-color: rgb(235, 104, 104);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

img {
  width: 20px;
  height: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey;  */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(26, 26, 26);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646;
}

.subtask_container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 80%;
  margin: 0px 0px 5px 60px;
}
.subtask_container > span {
  margin: 5px;
  color: rgb(80, 233, 233);
}
